<div id="template-wrapper" style="width: 100%;text-align: left;">
	<span id="template-greeting">Hello [[user.id]],</span><br/>
    <h4 id="template-title">Your Reservation for '[[event.name]]'.</h4>
	<p id="template-body">
        Status: <span class="emphasis" style="font-weight: bold;">Processing</span>

        <br/><br/>
    We have received your reservation request and are currently processing it.<br/>
    You will receive an email once your reservation has been confirmed.<br/><br/>
    Thank you for choosing TicketWeave.
    </p>
    <br>
    <div id="template-closing-remarks" style="font-size: x-small;">
        <h4><i style="color: darkgoldenrod;font-size: small;">TicketWeave &#174;</i></h4>
    </div>
</div>
