<div id="template-wrapper" style="width: 100%;text-align: left;">
	<h5 id="template-greeting">Hello [[user.id]],</h5>
	<h4 id="template-title">Your are about to reset your password.</h4>
	<p id="template-body">
		Please see your temporary token below<br>
	<h3 style="color: blue;">[[user.password.temporary]]</h3>

	Thank you for choosing Auricle App, the first indigenous audio/video
	streaming service dedicated to Yoruba traditional content.<br> <br>
	We hope you enjoy our collection and please let us know if
	you have any questions or concerns.
	</p>
	<br>
	<div id="template-closing-remarks" style="font-size: x-small;">
		<h4><i style="color: darkgoldenrod;font-size: small;">The Auricle Team,</i></h4>
	</div>
</div>