<div id="template-wrapper" style="width: 100%;text-align: left;">
	<h5 id="template-greeting">Hello [[user.id]],</h5>
	<h4 id="template-title">Regarding your Subscription...</h4>
	<p id="template-body">
        <h5>Details:</h5>
        <table>
            <tr>
                <td>Description:</td>
                <td>[[subscription.description]]</td>
            </tr>
            <tr>
                <td>Expiry Date:</td>
                <td>[[subscription.expirationDate]]</td>
            </tr>
            <tr>
                <td>Renew Amount:</td>
                <td>[[subscription.currency]] [[subscription.new.amount]]</td>
            </tr>
            <tr>
                <td>Renew Description:</td>
                <td>[[subscription.new.description]]</td>
            </tr>
        </table><br>
        NOTE: If you have not provided a payment method, we may not be able to renew your subscription automatically.<br>
        In that case, please visit your account page and select a payment method to continue enjoying our wide range of shows.
        <br>
    Thank you for choosing Auricle App, the first indigenous audio/video
    streaming service dedicated to Yoruba traditional content.<br> <br>
    We hope you enjoy our collection and please let us know if
    you have any questions or concerns.
    </p>
    <br>
    <div id="template-closing-remarks" style="font-size: x-small;">
        <h4><i style="color: darkgoldenrod;font-size: small;">The Auricle Team,</i></h4>
    </div>
</div>